# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment
.env

# Data
data/raw/
data/processed/

# Model artifacts
artifacts/*.pkl

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
.streamlit/secrets.toml